@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.header-title{
    color: rgb(7, 89, 136);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.header-paragraph{
    font-family: 'Roboto', sans-serif;
    color:rgb(88, 88, 88);
    font-size: 20px;
    font-weight: 700;
}
.conv-button{
        text-decoration: none;
        padding: 1.3em 3em;
        font-size: 12px;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: rgba(136, 173, 243, 0.884);
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        margin: 30px;
 }       
.conv-button:hover {
    background-color: rgb(7, 89, 136);
    box-shadow: 0px 15px 20px  rgb(7, 89, 136);
    color: #fff;
    transform: translateY(-7px);
 }
       
.conv-button:active {
        transform: translateY(-1px);
}

.package-section h2{
    font-family: var(--poppins);
    font-weight: 600;
    color: #0A0826;
}

.card{
    cursor: pointer;
}

.card h3, .card h4{
    font-family: var(--roboto);
    color: #231D4F;
    font-weight: 700;
}

.card p{
    color: #848199;
    font-size: 15px;
    font-family: var(--poppins);
}

.card .button{
    padding: 8px 80px;
    border-radius: 20px;
    background-color: #ffe7f6a8;
    text-decoration: none;
    color: #3f88f5c9;
}
.fa-check-circle{
    padding-right: 7px;
    color: #b8b1f1;
}
.card-top{
    background-color: #3F87F5 !important;
    border-radius: 26px !important;
    box-shadow: 0px 10px 9px 9px #accbfa85;
    transform: translateY(-40px);
}
.card-top h3, .card-top h4, .card-top p{
    color: white !important;
}
.card-top .fa-check-circle{
    color: #8eb6f1;
}
.card-top .button{
    background-color: white;
}

/*----------- newsletter style -------- */
.newsletter-banner{
    background-image: url(images/newsletter.jpg);
    width: 100%;
    cursor: pointer;
    color: white;
}
.newsletter-content h1{
font-size: 40px;
font-family: 'Poppins', sans-serif;
text-align: center;
}
.newsletter-content p{
text-align: center;
font-family: 'Roboto', sans-serif;
}
.newsletter-content input{
width: 300px;
padding: 13px;
border:none;
border-radius: 10px;
background: rgba(156, 156, 156, 0.685);
color: grey;
}
.newsletter-content input::placeholder{
color: white;
font-size: 18px;
font-weight: 400;
}
input:hover{
        color: white;
        background: black;
        border: 1px solid white;
        transition: .5s ease-in-out;

}